




body {
  background-image: url("../images/morning-sun.avif");
  background-size:cover;
  background-position: center top;
  color: white;
  background-color: black;
  font-family: verdana, sans-serif;
  
  
}



p {
  margin: 50px;
}
.nav-bar {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  background-color: rgba(203, 203, 203, 0.4);
  font-size: 25px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  text-align: center;
  
}
li {
  display: inline-block;
  border-right: 2px solid white;
  padding: 0;
  margin: 0;
}

.left-border {
  border-left: 2px solid white;
}
li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
}

li a:visited{
  color:white;
}

li a:hover {
  background-color: rgba(203, 203, 203, 0.5);
  color: black;
  
}
.red-border {
  border: 3px solid red;
}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}
h1 {
  text-align: center;
  margin: 50px;
}
h2 {
  margin: 50px;
}

h3 {
  margin: 50px;
}
h4 {
  margin: 50px;
}

article {
  background-color:rgba(203, 203, 203, 0.4);
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
}


  @media only screen and (max-width: 800px) {
    body {
     color: red;
     font-size: 20pt;
    }
  }
